body {
        background: #F3F5FC;
        color: #0A3871;
        font-family: 'Inter';
}

.container-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

container-left {
    
}