* *:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F3F5FC;
    color: #0A3871;
    font-family: 'Inter';
}

.container-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
    height: 60%px;
}

.container-input img {
    width: 50px;
    height: 50px;
}

.input-text {
    width: 90%;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: #0a3871;
    margin-top: 50px;
    font-family: Inter;
}

.input-text:focus {
    outline: none;
}

.input-text::placeholder {
    color: #0a3871;
}

.container-button {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-button img {
    margin-top: 7px;
    width: 16px;
}

.alert {
    margin-bottom: 20px;
}

.alert span {
    color: #67808E;
    font-size: 0.75rem;
    vertical-align: text-top;
}

.buttons {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.butt {
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    z-index: 99;
}

.button-encrypt {
    background-color: #0A3871;
    color: #fff;
}

.button-decrypt {
    border: 1px solid #0A3871;
    color: #0A3871;
    background-color: transparent;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-right img {
    display: none;
}

.message {
    padding: 20px;
    width: 90%;
    margin: 20px 0;
    text-align: center;
    border: 1px solid #fff;
    background-color: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.message h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343A40;
}

.message p {
    font-size: 1rem;
    color: #495057;
}

.container-right_result {
    display: flex;
    justify-content: center;
}

.message-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background: #ffffff;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.result p {
    text-align: center;
    padding-bottom: 15px;
    word-break: break-all;
}

.view {
    display: none;
}

@media (min-width: 500px) {
    .container-button {}

    .buttons {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .butt {
        width: 90%;
        margin: 0 5px;
    }

    .container-right_result {
        width: 100%;
        min-width: 250px;
    }
}

@media (min-width: 768px) {
    .container-main {
        padding: 20px;
        flex-direction: row;
        height: 100vh;
        justify-content: space-around;
    }

    .container-left {
        justify-content: space-between;
        height: 100vh;
        margin-left: 3em;
    }

    .container-input {
        margin-top: 25px;
    }

    .container-input img {
        height: 50px;
    }

    .butt {
        max-width: 328px;

    }

    .container-right {
        min-width: 320px;
        flex-shrink: 3;
        height: 100%;
        justify-content: center;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        margin-right: 3.5em;
    }

    .container-right img {
        display: block;
    }

    .container-button {
        margin-bottom: 3px;
    }

    .message {
        background: none;
        border: none;
        margin: 20px;
        box-shadow: none;
    }

    .container-right_result {
        flex-direction: column;
        align-items: center;
    }

    .container-right_result img {
        width: 90%;
    }

    .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        box-shadow: none;
        padding: 0;
        padding-top: 20px;
        padding: 20px 10px 0 10px;
    }

    .view {
        display: none;
    }
}

@media (min-width: 1200px) {
    .buttons {
        justify-content: center;
        gap: 14px;
    }
}